<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css?version=2">
  <title>Alexandra Dunham</title>
</head>
<body class="home" id="app" v-cloak>
  <div class="nav-wrapper">
    <div class="nav-brand">
      <h1 class="logo-name">
        <a href="index.html" class="nav-brand-link">
          <span class="alex">Alex</span>
          <span class="dunham">Dunham.</span>
        </a>
      </h1>
    </div>
    <div class="nav-links">
      <a href="about.html">About</a>
      <a href="work.html" class="active">Work</a>
    </div>
  </div>
  <div class="wrapper">
    <h2>Work.</h2>
    <div class="portfolio">
      <p>Due to the nature of some of my work, I am not permitted to show all past projects on this website.</p>
      <div class="portfolio-item" v-for="portfolio in portfolio" v-bind:style='{backgroundImage:"url("+ portfolio.mainImage +")", backgroundSize:"cover"}' @click="fullScreenOpen(portfolio)" v-cloak>
        <div class="hover-item">
          <button @click="fullScreenOpen(portfolio)">See more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-back" v-show="fullScreen == true" transition="expand" v-cloak>
    <div class="slider-wrap" id="slider-section" > 
     <div class="closeButton" @click="fullScreenClose()"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="slide-wrap slider-inner" v-bind:style='{backgroundImage:"url("+ showItem.mainImage +")", backgroundSize:"101%"}' v-cloak >
        </div>
        <div  class="slide-content-wrap">
          <div class="slide-description">
            <div class="split">
              <div class="project-description left">
                <h4 class="bold-title">{{showItem.name}}</h4>
                <p class="remove-padding">{{showItem.byline}}</p>
              </div>
              <div class="project-scope">
                <p class="bold">Project Summary:</p>
                <ul>
                  <li v-for="scope in showItem.scope">{{scope}}</li>
                </ul>
              </div>
            </div>
            <div class="project-journey">
              <div class="project-images" v-for="image in showItem.images">
                <img v-bind:src="image.link">
                <p>{{image.caption}}</p>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <footer>
        <h4>Contact.</h4>
        <div class="footer-inner">
          <a href="mailto:alexandracdunham@gmail.com">e: alexandracdunham@gmail.com</a>
          <a href="tel:07511637352" class="text-center">p: 07511 637 352</a>
          <a href="https://www.linkedin.com/in/alexandra-dunham-2a581493/" class="text-right" target="blank">Linkedin</a>
        </div>

      </footer>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>
